Repository Dude-Perfect-Discord-Bot/Dude-Perfect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

.github/CODEOWNERS:

# Source Files
/src/ @XynoxTheDev @officialpiyush @Anish-Shobith

# Github Files
/.github/ @XynoxTheDev
/LICENSE @XynoxTheDev
/README.md @XynoxTheDev

# Dependency Files
/.gitattributes @XynoxTheDev @officialpiyush @Anish-Shobith
/.gitignore @XynoxTheDev @officialpiyush @Anish-Shobith

fix(voiceKick): checks user is in vc or not (#130)
  src/commands/Server Management/voiceKick.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

chore: update hyperlink
  README.md
Owners: @XynoxTheDev

chore: update version
  package.json
Owners: none

feat(owner): remove reload
  src/commands/Owner/reload.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

chore(SEM): minor
  package.json
Owners: none

chore: update version
  package.json
Owners: none

chore(yarn): update
  yarn.lock
Owners: none

fix(uptime): remove reload command (#133)
  src/commands/Owner/reload.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

chore(security policy): fix spell mistake
  .github/SECURITY.md
Owners: @XynoxTheDev

chore(*): delete files
  .yarnrc
  package.json
  src/commands/Fun/8ball.js
  src/commands/Fun/advice.js
  src/commands/Fun/cat.js
  src/commands/Fun/dog.js
  src/commands/Fun/figlet.js
  src/commands/Fun/meme.js
  src/commands/Fun/wouldYouRather.js
  src/commands/Information/avatar.js
  src/commands/Information/enlarge.js
  src/commands/Information/guild.js
  src/commands/Information/info.js
  src/commands/Information/viewPerms.js
  src/commands/Owner/eval.js
  src/commands/Server Management/createChannel.js
  src/commands/Server Management/deleteChannel.js
  src/commands/Server Management/nickname.js
  src/commands/Server Management/purge.js
  src/commands/Server Management/slowmode.js
  src/commands/Server Management/voiceKick.js
  src/commands/Utilities/about.js
  src/commands/Utilities/help.js
  src/commands/Utilities/invite.js
  src/commands/Utilities/ping.js
  src/commands/Utilities/support.js
  src/commands/Utilities/uptime.js
  src/extensions/DudePerfectUser.js
  src/index.js
  src/listeners/commandHandler/commandStart.js
  src/listeners/commandHandler/missingPermission.js
  src/listeners/dbl/error.js
  src/listeners/ready.js
  src/listeners/statcord/autopost.js
  src/listeners/statcord/clientReady.js
  src/listeners/statcord/post.js
  src/utility/formatDuration.js
  src/utility/normalizePermFlag.js
  yarn.lock
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

chore(git): remove .idea files
  .gitignore
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

feat: add package.json
  package.json
Owners: none

feat(*): add deps
  package.json
  yarn-error.log
  yarn.lock
Owners: none

feat: add index file
  src/index.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

feat(sapphire): config setup
  src/lib/setup.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

chore(deps): update versoins
  package.json
  yarn.lock
Owners: none

feat(deps): add prettier
  package.json
Owners: none

feat(dep): remove mongoose
  package.json
  yarn.lock
Owners: none

chore(resource): update patreon link
  README.md
Owners: @XynoxTheDev

chore(github): update FUNDING
  .github/FUNDING.yml
Owners: @XynoxTheDev

chore(github): update FUNDING
  .github/FUNDING.yml
Owners: @XynoxTheDev

chore(github): update FUNDING
  .github/FUNDING.yml
Owners: @XynoxTheDev

chore: remove Profile
  Procfile
Owners: none

chore: add files
  .gitignore
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

chore: update package.json
  package.json
Owners: none

docs: reformatted README
  README.md
Owners: @XynoxTheDev

chore: update w/ package.json
  yarn-error.log
  yarn.lock
Owners: none

chore: update index
  src/index.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

feat(fix): Fixed help command not working in some cases
  src/commands/Utilities/help.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

chore(github-workflows): update node version of lint
  .github/workflows/lint.yml
Owners: @XynoxTheDev

feat(listen): add events
  src/listeners/commands/commandDenied.js
  src/listeners/commands/commandSuccessLogger.js
  src/listeners/mentionPrefixOnly.js
  src/listeners/messages/messageUpdate.js
  src/listeners/ready.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

chore: update deps.
  package.json
  yarn.lock
Owners: none

chore: update deps
  package.json
Owners: none

feat: add via example
  src/commands/General/command-with-subcommands.js
  src/commands/General/paginated-message.js
  src/commands/General/ping.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

feat: add config
  src/config.json
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

feat(command): add eval
  src/commands/General/eval.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

fix: unused code
  src/index.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

feat: add via upload
  src/lib/constants.js
  src/lib/utils.js
  src/preconditions/OwnerOnly.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

chore(*): fix error
  src/lib/setup.js
  src/listeners/commands/commandDenied.js
  src/listeners/commands/commandSuccessLogger.js
  src/listeners/mentionPrefixOnly.js
  src/listeners/messages/messageUpdate.js
  src/listeners/ready.js
  yarn.lock
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

update(nickname): Clear who's nickname is set.
  src/commands/Server Management/nickname.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith
