Repository Dude-Perfect-Discord-Bot/Dude-Perfect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

fix(eval): use `util` over `channel`.
  src/commands/Owner Only/eval.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

Added Embed in Support & Invite #1
  src/commands/Utilities/support.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

Added Embed in Support & Invite
  src/commands/Utilities/invite.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

Added Embed in Support & Invite
  src/commands/Utilities/invite.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

fix: hyperlink of PR template.
  README.md
Owners: @XynoxTheDev

fix: text alignment
  README.md
Owners: @XynoxTheDev

meta: change dependency to post stats on topgg
  package.json
  src/index.js
  src/listeners/dbl/posted.js
  yarn.lock
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

fix(Github): update labels
  .github/labels.yml
Owners: @XynoxTheDev

deps: update topgg-autoposter
  package.json
  yarn.lock
Owners: none

stats: remove posted logs and listen for error event
  src/listeners/dbl/error.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

fix: update for breaking v2 change
  src/index.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

chore: update Top.gg dependency (#107)
  package.json
  src/index.js
  src/listeners/dbl/error.js
  yarn.lock
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

ci: fix `lint.yml`
  .github/workflows/lint.yml
Owners: @XynoxTheDev

chore: refractor usage of `var`
  src/commands/Fun/wouldYouRather.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

chore: changes
  package.json
  src/commands/Fun/8ball.js
  src/index.js
  src/listeners/ready.js
  yarn.lock
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

chore: update error syntax
  src/commands/Server Management/purge.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

replace: `channel|reply.send` with `util.send`
  src/commands/Fun/8ball.js
  src/commands/Fun/advice.js
  src/commands/Fun/cat.js
  src/commands/Fun/dog.js
  src/commands/Fun/figlet.js
  src/commands/Fun/meme.js
  src/commands/Fun/wouldYouRather.js
  src/commands/Information/avatar.js
  src/commands/Information/enlarge.js
  src/commands/Information/guild.js
  src/commands/Information/info.js
  src/commands/Information/viewPerms.js
  src/commands/Owner Only/reload.js
  src/commands/Server Management/createChannel.js
  src/commands/Server Management/deleteChannel.js
  src/commands/Server Management/nickname.js
  src/commands/Server Management/purge.js
  src/commands/Server Management/slowmode.js
  src/commands/Server Management/voiceKick.js
  src/commands/Utilities/about.js
  src/commands/Utilities/invite.js
  src/commands/Utilities/ping.js
  src/commands/Utilities/support.js
  src/commands/Utilities/uptime.js
  src/index.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

prettier: fixes
  src/commands/Server Management/voiceKick.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

feat: more changes
  src/commands/Fun/8ball.js
  src/commands/Owner/eval.js
  src/commands/Owner/reload.js
  src/commands/Utilities/help.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

node: Set minimum node requirement to `v14`
  package.json
Owners: none

command: improvement in help command
  src/commands/Information/viewPerms.js
  src/commands/Utilities/help.js
  src/utility/normalizePermFlag.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

command(help): Move `description` up
  src/commands/Utilities/help.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

fix(avatar): remove auto delete of output
  src/commands/Information/avatar.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

fix: removed unused variables
  src/commands/Information/avatar.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

fix: indentation
  src/commands/Information/avatar.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

feat: versioning
  package.json
Owners: none

fix(avatar): remove auto delete of output (#123)
  package.json
  src/commands/Information/avatar.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

feat(userinfo): Adds nitro badge to userinfo
  src/commands/Information/info.js
  src/extensions/DudePerfectUser.js
  src/index.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

fix(flags): if a user doesn't have badges
  src/extensions/DudePerfectUser.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

feat(userinfo): Adds nitro badge to userinfo (#125)
  src/commands/Information/info.js
  src/extensions/DudePerfectUser.js
  src/index.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

feat: add IntelliJ IDEA
  .gitignore
  .idea/.gitignore
  .idea/Alpha Dude Perfect.iml
  .idea/discord.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

fix(Intelliji): remove editor config
  .idea/.gitignore
  .idea/Alpha Dude Perfect.iml
  .idea/discord.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Owners: none

chore: update member bypass
  src/index.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

feat(versioning): remove patch version count
  package.json
Owners: none

fix(voiceKick): checks user is in vc or not
  src/commands/Server Management/voiceKick.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

fix(Intelliji): remove editor config (#128)
  .idea/.gitignore
  .idea/Alpha Dude Perfect.iml
  .idea/discord.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Owners: none

chore(ignoreCooldown): update bypass
  src/index.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

chore: update comments
  src/index.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

chore(security): update version support
  .github/SECURITY.md
Owners: @XynoxTheDev

fix(ignoreCooldown): removed extra user ID
  src/index.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

.github/CODEOWNERS:

# Source Files
/src/ @XynoxTheDev @officialpiyush @Anish-Shobith

# Github Files
/.github/ @XynoxTheDev
/LICENSE @XynoxTheDev
/README.md @XynoxTheDev

# Dependency Files
/.gitattributes @XynoxTheDev @officialpiyush @Anish-Shobith
/.gitignore @XynoxTheDev @officialpiyush @Anish-Shobith
