Repository Dude-Perfect-Discord-Bot/Dude-Perfect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

.github/CODEOWNERS:

# Source Files
/src/ @XynoxTheDev @officialpiyush @Anish-Shobith

# Github Files
/.github/ @XynoxTheDev
/LICENSE @XynoxTheDev
/README.md @XynoxTheDev

# Dependency Files
/.gitattributes @XynoxTheDev
/.gitignore @XynoxTheDev

chore: remove White Source security scan
  .whitesource
Owners: none

chore: remove Renovate bot
  renovate.json
Owners: none

chore: Remove unnecessary Syntax
  README.md
  src/commands/Fun/8ball.js
  src/commands/Fun/advice.js
  src/commands/Fun/cat.js
  src/commands/Fun/dog.js
  src/commands/Fun/figlet.js
  src/commands/Fun/meme.js
  src/commands/Fun/viewPerms.js
  src/commands/Fun/wouldYouRather.js
  src/commands/Information/avatar.js
  src/commands/Information/enlarge.js
  src/commands/Information/guild.js
  src/commands/Information/info.js
  src/commands/Owner Only/eval.js
  src/commands/Server Management/createChannel.js
  src/commands/Server Management/deleteChannel.js
  src/commands/Server Management/nickname.js
  src/commands/Server Management/purge.js
  src/commands/Server Management/slowmode.js
  src/commands/Server Management/voiceKick.js
  src/commands/Utilities/about.js
  src/commands/Utilities/help.js
  src/commands/Utilities/invite.js
  src/commands/Utilities/ping.js
  src/commands/Utilities/support.js
  src/commands/Utilities/uptime.js
  src/index.js
  src/listeners/commandHandler/commandStart.js
  src/listeners/commandHandler/missingPermission.js
  src/listeners/dbl/error.js
  src/listeners/ready.js
  src/listeners/statcord/autopost.js
  src/listeners/statcord/clientReady.js
  src/listeners/statcord/post.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

Update README.md
  README.md
Owners: @XynoxTheDev

Update README.md
  README.md
Owners: @XynoxTheDev

Update README.md
  README.md
Owners: @XynoxTheDev

chore: Remove unnecessary Syntax (#100)
  README.md
  src/commands/Fun/8ball.js
  src/commands/Fun/advice.js
  src/commands/Fun/cat.js
  src/commands/Fun/dog.js
  src/commands/Fun/figlet.js
  src/commands/Fun/meme.js
  src/commands/Fun/viewPerms.js
  src/commands/Fun/wouldYouRather.js
  src/commands/Information/avatar.js
  src/commands/Information/enlarge.js
  src/commands/Information/guild.js
  src/commands/Information/info.js
  src/commands/Owner Only/eval.js
  src/commands/Server Management/createChannel.js
  src/commands/Server Management/deleteChannel.js
  src/commands/Server Management/nickname.js
  src/commands/Server Management/purge.js
  src/commands/Server Management/slowmode.js
  src/commands/Server Management/voiceKick.js
  src/commands/Utilities/about.js
  src/commands/Utilities/help.js
  src/commands/Utilities/invite.js
  src/commands/Utilities/ping.js
  src/commands/Utilities/support.js
  src/commands/Utilities/uptime.js
  src/index.js
  src/listeners/commandHandler/commandStart.js
  src/listeners/commandHandler/missingPermission.js
  src/listeners/dbl/error.js
  src/listeners/ready.js
  src/listeners/statcord/autopost.js
  src/listeners/statcord/clientReady.js
  src/listeners/statcord/post.js
Owners: @XynoxTheDev, @officialpiyush, @Anish-Shobith

chore(Github Template): Update Issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @XynoxTheDev

feat(Github Template): add Pull Request template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Owners: @XynoxTheDev

chore(Github Templates): Update PR template.
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Owners: @XynoxTheDev

feat(Github Template): Updated Issues & PR templates. (#101)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Owners: @XynoxTheDev

chore(Github Template): update PR template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Owners: @XynoxTheDev

chore(Github): Added PR template
  README.md
Owners: @XynoxTheDev

fix(Github Template): removed collaborated template file
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Owners: @XynoxTheDev

fix(Github Template): add PR template on main branch
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Owners: @XynoxTheDev

fix: change PR template location
  .github/PULL_REQUEST_TEMPLATEpull_request_template.md
Owners: @XynoxTheDev

fix: renamed PR template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @XynoxTheDev

fix: update PR template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Owners: @XynoxTheDev
